#map {
    height: 100%;
}

html, body {
    /* font settings*/
    font-family: monospace;
    text-decoration: none;

    /* color settings*/
    background-color: #baf0bc;
    color: #120a3f;

    /* margin settings*/


}